@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  flex-direction: column;
}

.heading {
  width: 70%;
  margin: 0 auto 10px auto;
  text-align: center;
}